.separator {
  border: 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
}

td {
  width: 150px;
}

button {
  margin-right: 20px;
}

.datacenter-container {
  height: 800px;
  overflow-y: scroll;
}