td {
  width: 150px;
}

button {
  margin-right: 20px;
  width: 100px;
}

.separator {
  border: 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
}

.application-table {
  width: 700px;
  padding: 10px;
}