{{check()}}
<h2>OnPush Strategy Not Implemented</h2>
<div class="datacenter-container">
  <ng-container *ngFor="let application of applications; trackBy: trackByFn">
    <app-application-without-on-push [application]="application"></app-application-without-on-push>
    <button (click)="onStart(application)">Start</button>
    <button (click)="onPause(application)">Pause</button>
    <button (click)="onShutDown(application)">Shut Down</button>
    <div class="separator"></div>
  </ng-container>
</div>
